<% content_for :title, "Match Candidates" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-4xl"><%= MatchCandidate.model_name.human %></h1>
    <%= link_to v_i18n('new'), new_match_candidate_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="match_candidates" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @list.any? %>
      <table class="text-md bg-white shadow-md rounded mb-4"">
        <thead>
          <tr class="bg-gray-100 mb-5 mt-5 h-[3rem]">
            <th><%= Match.model_name.human %></th>
            <th colspan=2><%= Candidate.model_name.human %></th>
            <th><%= v_i18n('actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @list.each do |rec| %>
            <tr id="<%= dom_id rec %>" class="border-b hover:bg-cyan-200">
              <%= render 'rec', rec: rec %>
              <%= render_index_actions(rec) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center my-10">No matche candidate found.</p>
    <% end %>
  </div>
</div>
