<%= form_with(model: rec, class: "contents") do |form| %>
  <%= render_messages(rec) %>
  <%= v_select(       form, rec, :rank_slot_id, RankSlot.not_deleted.order(:name).map{|rs| [rs.name, rs.id]}) %>
  <%= v_text_field(   form, rec, :name) %>
  <%= v_number_field( form, rec, :weight) %>

  <div class="inline">
    <%= form.submit class: v_button_class %>
  </div>
<% end %>
